{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}

    <h1 class="text-center">Profiel </h1>

    <form class="form-signin" method="post">
        <fieldset>
            <legend class="text-center">Vervolledig uw profiel</legend>

            {% if app.user %}{% include 'security/is_aangemeld.html.twig' %}{% endif %}

            <div class="form-group">
                <label for="inputFirstName" class="">Naam</label>
                <input type="text" value="{{ app.user.firstName }}" name="firstName" id="inputFirstName" class="form-control" placeholder="First Name" autofocus>
            </div>

        </fieldset>

        <div class="gvp-vert-sp-2"></div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Update profiel</button>

    </form>

{% endblock %}