{% apply inky_to_html|inline_css(
    source('@styles/foundation-emails.css'),
    source('@styles/email.css'),
    )
%}
<container>

{#    <row class="header">#}
        <row>
        <columns>
            <center>
{#                <a href="#">#}
                    <img src="{{ email.image('@images/Wallace-482x298.jpg') }}" class="logo" alt="The Template52" >
{#                </a>#}
            </center>
        </columns>
    </row>

    {% block content %}{% endblock %}

    <hr>

    <spacer size="10"></spacer>

    <row>
        <columns>
            <center>
                <button href="{{ url('homepage') }}">Ontdek de Template52 site!</button>
            </center>
        </columns>
    </row>

    <row class="footer">
        <columns>
            <p>Met vriendelijke groeten,</p>
            <p>Het <em>Template52 Team</em></p>
        </columns>
    </row>

    <spacer size="30"></spacer>

    <row class="bottom">
        <columns>
            <center>
                <spacer size="20"></spacer>
                <div>
                    Verzonden met ❤️ door het Template52 Team.
                </div>
            </center>
        </columns>
    </row>
</container>

{% endapply %}