{% extends 'base.html.twig' %}

{% block title %}New Test4{% endblock %}

{% block body %}

    {% include 'flash/flash.html.twig' %}

    <div class="container">
        <div class="bs-docs-section clearfix">

            <div class="row">
                <div class=" col-12">

                <h1 class="mt-3 mb-4">Create new Test4</h1>

                {{ include('test4/_form.html.twig') }}

                <a href="{{ path('test4_index') }}">back to list</a>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
